.general-container {
    display: flex;

    .form-container {
        padding: 10px;
        width: 400px;

        border: solid gray;
        border-radius: 10px;
        margin: 10px;
    }
}




app-crd-verification-from{
    width: 500px;

}